@model test0919_HelloMVC.Models.UserDataModel
@*Using Model*@
@{
    ViewBag.Title = "Index";
}

<h2>Index Form</h2>
@*<form method="post" action=""> //方法1
    FormCollection
    <hr />
    UserName: <input type="text" name="UserName" value="@ViewBag.UserName" /><br />
    Account: <input type="text" name="Account" value="@ViewBag.Account" /><br />
    Password: <input type="text" name="Password" value="@ViewBag.Password" /><br />
    <input type="submit" name="OkBtn" />
</form>*@
<form method="post" action="">
    FormCollection
    <hr />
    UserName: <input type="text" name="UserName" value="@Model.UserName" /><br />
    Account: <input type="text" name="Account" value="@Model.Account" /><br />
    Password: <input type="text" name="Password" value="@Model.Password" /><br />
    <input type="submit" name="OkBtn" />
</form>

